body {

	background-color: #fafafa;
}



.main {
	margin: 0 auto;
	width:30.5vw;
	font-size:4vw;
	line-height:90%;
	/*height: 10vw;*/
	text-align:justify;
	margin-top:95px;
	padding-bottom:30px;
	font-family: 'Montserrat';
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3px;
	opacity: 1;
	-webkit-transition: color 1s ease-out;
	-moz-transition: color 1s ease-out;
	-o-transition: color 1s ease-out;
	transition: color 1s ease-out;
}

.main a {
	padding-top:10px;
	/*background-image: -webkit-linear-gradient(left top, #8d7afe, #ff719b);
	background-image: -o-linear-gradient(bottom right, #8d7afe, #ff719b); /* For Opera 11.1 to 12.0 */
	/*background-image: -moz-linear-gradient(bottom right, #8d7afe, #ff719b); /* For Firefox 3.6 to 15 */
/*  background-image: linear-gradient(left top, #8d7afe, #ff719b);
	color: transparent;
	-webkit-transparent:none;
  -webkit-background-clip: text;
  background-clip: text;*/
	color:#000;
	text-decoration: none;
}

.main a:hover {
	color:#ba44dc;
	/*background-image: -webkit-linear-gradient(left top, #ffb0e1, #a5deff);
	background-image: linear-gradient(left top, #ffb0e1, #a5deff);

	color: transparent;
  -webkit-background-clip: text;
  background-clip: text;*/


}

#filter-bar {
	display: flex;
	flex-direction: horizontal;
  align-items: center; /* cross axis */

	width:60vw;
	margin: 0 auto;
}

.filter-button {
	font-family: 'Karla';
	font-size:0.7vw;
	text-transform:uppercase;
	width: 7vw;
	height: 3.5vw;
	border-radius: 5px;
	background-color: #f1f1f1;
	padding: 5px;
	margin: 5px;
	text-align: center;
	cursor:pointer;
	display: inline-flex;
  align-items: center; /* cross axis */
  justify-content: center; /* main axis */

  line-height: 1; /* reset */

	-webkit-transition: background-color 2s ease-out;
	-moz-transition: background-color 2s ease-out;
	-o-transition: background-color 2s ease-out;
	transition: background-color 2s ease-out;

}

.filter-button:hover {
	color:#fff;
	background-color: #ba44dc;
}

#product-filter:hover {
	color:#fff;
	background-color: #ba44dc;
}
/*
#ux-filter:hover {
	background-color: #f6cea8;
}*/

.user img {
	max-width: 60%;
	max-height:60%;
	margin-top:20%;
}

.user {
	cursor: move;
}

.user:hover {
	 box-shadow: -10px 10px 25px 0 rgba(0, 0, 0, 0.15);
}

.name {
	font-family:'Montserrat';
	text-transform: uppercase;
	font-weight: 700;
	font-size:1.5vw;
}

.desc {
	font-size:0.8vw;
	display:block;
	margin-top:10px;
}
.pink {
	background: -webkit-linear-gradient(left top, #f88be8, #d8a7ff); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #f88be8, #d8a7ff); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #f88be8, #d8a7ff); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #f88be8, #d8a7ff); /* Standard syntax */

}

.blue {
	background: -webkit-linear-gradient(left top, #94fff7, #d8a7ff); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #94fff7, #d8a7ff); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #94fff7, #d8a7ff); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #94fff7, #d8a7ff); /* Standard syntax */
}

.yellow {
	background: -webkit-linear-gradient(left top, #f7dead, #ef8cdd); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #f7dead, #ef8cdd); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #f7dead, #ef8cdd); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #f7dead, #ef8cdd); /* Standard syntax */

}

.deepblue {

	background: -webkit-linear-gradient(left top, #4469ff, #26fbfe); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #4469ff, #26fbfe); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #4469ff, #26fbfe); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #4469ff, #26fbfe); /* Standard syntax */

}

.brightgreen {


		background: -webkit-linear-gradient(left top, #fff702, #94ff63); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(bottom right, #fff702, #94ff63); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(bottom right, #fff702, #94ff63); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to bottom right, #fff702, #94ff63); /* Standard syntax */

}

.purple {


			background: -webkit-linear-gradient(left top, #8d7afe, #ff719b); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient(bottom right, #8d7afe, #ff719b); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient(bottom right, #8d7afe, #ff719b); /* For Firefox 3.6 to 15 */
			background: linear-gradient(to bottom right, #8d7afe, #ff719b); /* Standard syntax */

}

.red {


			background: -webkit-linear-gradient(left top, #f75765, #f38e70); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient(bottom right, #f75765, #f38e70); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient(bottom right, #f75765, #f38e70); /* For Firefox 3.6 to 15 */
			background: linear-gradient(to bottom right, #f75765, #f38e70); /* Standard syntax */

}

.palegreen {


			background: -webkit-linear-gradient(left top, #b2f0cf, #d1f0c7); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient(bottom right, #b2f0cf, #d1f0c7); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient(bottom right, #b2f0cf, #d1f0c7); /* For Firefox 3.6 to 15 */
			background: linear-gradient(to bottom right, #b2f0cf, #d1f0c7); /* Standard syntax */

}

.palepink {


			background: -webkit-linear-gradient(left top, #ffb0e1, #a5deff); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient(bottom right, #ffb0e1, #a5deff); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient(bottom right, #ffb0e1, #a5deff); /* For Firefox 3.6 to 15 */
			background: linear-gradient(to bottom right, #ffb0e1, #a5deff); /* Standard syntax */

}

.white {
	background: white !important;
}

.twitter {
	background-color:#d9cadc;
	display:block;
	padding:10px;
	margin-top:2em;
	font-size:0.8vw;
	text-align:center;
	-webkit-transition: background-color 2s ease-out;
	-moz-transition: background-color 2s ease-out;
	-o-transition: background-color 2s ease-out;
	transition: background-color 2s ease-out;
	text-transform: uppercase;
	letter-spacing:2px;
}

.twitter:hover {
	background-color:#f7e697;
}

.web {
	font-size:0.8vw;
	background-color:#eeacac;
	letter-spacing:2px;
	display:block;
	padding:10px;
	text-transform: uppercase;
	text-align:center;
	-webkit-transition: background-color 2s ease-out;
	-moz-transition: background-color 2s ease-out;
	-o-transition: background-color 2s ease-out;
	transition: background-color 2s ease-out;
}

.web:hover {
	background-color:#c7eeab;
}

.text a {
	color:#fff;
	text-decoration:none;
}

.user {
	text-align:center;
}

/* The Modal (background) */
.overlay {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
   /* background-color: rgb(0,0,0); /* Fallback color */
  /*  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.popup {
	position: absolute;
    background-color: #f1f1f1;
		color:#666;
    margin: auto;
    padding: 20px;
   	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
		border-radius: 4px;
    min-width:250px;
    width: 20%;
		font-family: 'Karla';
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
